{% extends "base.html" %}

{% load webdesign %}

{% block content %}
    <h2>News Title</h2>
    <hr />
    {% lorem 3 p %}
    <h2>News Title</h2>
    <hr />
    {% lorem 1 p %}
    <h2>News Title</h2>
    <hr />
    {% lorem 2 p %}
    {% endblock %}
{% block sidebar %}

<div class="list-group">
  <a href="#" class="list-group-item">Cras justo odio</a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<a href="#" class="thumbnail">
      <img src="http://placehold.it/300x350" alt="...">
</a>
<a href="#" class="thumbnail">
      <img src="http://placehold.it/300x350" alt="...">
</a>
{% endblock %}